
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myAngular">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
<div ng-controller="myController">

</div>
</body>
</html>
